// TODO

.commonContainer {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto 5rem;
}

.postMeta {
  color: var(--gray-400);
  margin-top: 1.563rem;

  &,
  span {
    display: flex;
  }

  span + span {
    margin-left: 1.5rem;
  }

  span svg {
    margin-right: 0.5rem;
  }
}
