// TODO

$post-meta-gap: 1.5rem;

.commonContainer {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto 5rem;
  padding: 0 2rem;
}

.postMeta {
  margin-top: 1.5rem;

  div {
    display: inline-flex;
    flex-wrap: wrap;

    color: var(--gray-400);
    margin: calc(-1 * $post-meta-gap) 0 0 calc(-1 * $post-meta-gap);
    width: calc(100% + $post-meta-gap);

    span {
      display: flex;
      margin: $post-meta-gap 0 0 $post-meta-gap;

      svg {
        margin-right: 0.5rem;
      }
    }

    &.responsiveBreakLine {
      flex-direction: column;
    }
  }
}

@media (min-width: 600px) {
  .postMeta div.responsiveBreakLine {
    flex-direction: row;
  }
}
